html 
    head 
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Quản lý công việc
        // Bootstrap
        link(href='../vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
        // bootstrap-daterangepicker
        link(href='../vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
        // Custom Theme Style
        link(href='../build/css/custom.min.css', rel='stylesheet')
    body.nav-md  
        .container.body
            .main_container
                .col-md-3.left_col
                    .left_col.scroll-view
                        .navbar.nav_title(style='border: 0;')
                            a.site_title(href='/')
                                i.fa.fa-home
                        .clearfix

                        // menu profile quick info
                        .profile.clearfix
                            .profile_pic
                                if user.avatar
                                    img.img-circle.profile_img(src=user.avatar, alt='...')
                            .profile_info
                                span Xin chào
                                if user
                                    h2= user.employee_name
                        // /menu profile quick info
                        br
                        // sidebar menu
                        
                        // sidebar menu
                        #sidebar-menu.main_menu_side.hidden-print.main_menu
                            .menu_section
                                ul.nav.side-menu
                                    if (user_permission.access_position !== "No" || user_permission.access_department !== "No" || user_permission.access_employee !== "No")
                                        li
                                            a
                                                i.fa.fa-edit
                                                |  Quản lý 
                                                span.fa.fa-chevron-down
                                            ul.nav.child_menu
                                                if (user_permission.access_position == "Yes")
                                                    li
                                                        a(href='position') Quản lý chức vụ
                                                if (user_permission.access_department == "Yes")
                                                    li
                                                        a(href='departments') Quản lý phòng ban
                                                if (user_permission.access_employee == "Yes")
                                                    li
                                                        a(href='employees') Quản lý nhân viên
                                    if (user_permission.access_permission !== "No" || user_permission.access_user !== "No")
                                        li
                                            a
                                                i.fa.fa-user
                                                |  Tài khoản
                                                span.fa.fa-chevron-down
                                            ul.nav.child_menu
                                                if (user_permission.access_permission == "Yes")
                                                    li
                                                        a(href='permission') Quản lý nhóm quyền
                                                if (user_permission.access_user == "Yes")       
                                                    li
                                                        a(href='users') Quản lý người dùng
                                    if (user_permission.access_type_document !== "No" || user_permission.access_destination_document !== "No" || user_permission.access_incoming_document !== "No" || user_permission.access_assignment_manager !== "No")
                                        li
                                            a
                                                i.fa.fa-file
                                                |  Văn bản
                                                span.fa.fa-chevron-down
                                            ul.nav.child_menu
                                                if (user_permission.access_type_document == "Yes")
                                                    li
                                                        a(href='documents-type') Quản lý loại văn bản
                                                if (user_permission.access_destination_document == "Yes")
                                                    li 
                                                        a(href='documents-destination') Quản lý nơi đến
                                                if (user_permission.access_incoming_document == "Yes")    
                                                    li 
                                                        a(href='documents-incoming') Quản lý văn bản đến
                                                if (user_permission.access_document_processing_time == "Yes") 
                                                    li 
                                                        a(href='documents-processing-time') Quản lý thời hạn xử lý văn bản đến
                                                if (user_permission.access_document_slow_progress == "Yes")    
                                                    li 
                                                        a(href='documents-slow-progress') Theo dõi văn bản chậm tiến độ        
                                                if (user_permission.access_assignment_manager == "Yes")    
                                                    li 
                                                        a(href='documents-incoming-assignment') Xử lý văn bản đến
                                    if (user_permission.access_assignment_leader !== "No" || user_permission.access_task !== "No")
                                        li
                                            a
                                                i.fa.fa-tasks
                                                |  Công việc
                                                span.fa.fa-chevron-down
                                            ul.nav.child_menu
                                                if (user_permission.access_assignment_leader == "Yes")    
                                                    li
                                                        a(href='tasks-assignment-incoming-document') Xứ lý văn bản đến
                                                if (user_permission.access_task == "Yes")
                                                    li    
                                                        a(href='tasks') Quản lý công việc
                                    li
                                        a
                                            i.fa.fa-tasks
                                            |  Thống kê
                                            span.fa.fa-chevron-down
                                        ul.nav.child_menu    
                                            li
                                                a(href='statistics') Thống kê văn bản đến       
                                            if (user_permission.access_assignment_leader == "Yes")
                                                li
                                                    a(href='statistics-leader') Thống kê văn bản đến (Trưởng bộ phận)
                                            if (user_permission.access_statistics_manager == "Yes")
                                                li
                                                    a(href='statistics-manager') Thống kê văn bản đến (Lãnh đạo - HCTH)             
                                           
                    //sidebar menu

                // top navigation
                .top_nav
                    .nav_menu
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
                        nav.nav.navbar-nav
                            ul.navbar-right
                                li.nav-item.dropdown.open(style='padding-left: 15px;')
                                    a#navbarDropdown.user-profile.dropdown-toggle(href='javascript:;', aria-haspopup='true', data-toggle='dropdown', aria-expanded='false')
                                        if user.avatar
                                            img(src=user.avatar, alt='...')
                                    .dropdown-menu.dropdown-usermenu.pull-right(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='login')
                                            i.fa.fa-sign-out.pull-right
                                            | Đăng xuất
                // top navigation

                // page content
                #infoIncomingDocumentModal.modal.fade(tabindex='-1', aria-labelledby='infoIncomingDocumentModalLabel', role="dialog")
                    .modal-dialog(role="document")
                        .modal-content
                            .modal-header
                                h5#infoIncomingDocumentModalLabel.modal-title Thông tin chi tiết văn bản đến
                            .modal-body
                                form#demo-form2-info.form-horizontal.form-label-left
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Mã văn bản đến
                                        .col-md-6.col-sm-6
                                            input#info-incoming-document-id.form-control(type='text' disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Loại văn bản đến
                                        .col-md-6.col-sm-6
                                            input#info-incoming-document-type.form-control(type='text' disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Tên văn bản đến
                                        .col-md-6.col-sm-6
                                            textarea#info-incoming-document-name.form-control(disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Nơi phát hành
                                        .col-md-6.col-sm-6
                                            input#info-incoming-document-destination.form-control(type='text' disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Ngày đến
                                        .col-md-6.col-sm-6
                                            input#info-incoming-document-date.form-control(type='text' disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Nội dung
                                        .col-md-6.col-sm-6
                                            textarea#info-incoming-document-content.form-control(rows="4" disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Ý kiến chỉ đạo
                                        .col-md-6.col-sm-6
                                            input#list-assignment(type="text", value=assignment, hidden="")
                                            textarea#info-opinion.form-control(rows="4" disabled)
                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Thoát
                
                #assignmentDocumentModal.modal.fade(tabindex='-1', aria-labelledby='assignmentDocumentModalLabel')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h5#assignmentDocumentModalLabel.modal-title Phân công xử lý văn bản
                            .modal-body
                                form#demo-form2-assignment.form-horizontal.form-label-left(data-parsley-validate='', action="/tasks-assignment-incoming-document/new", method="POST")
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Nhân viên
                                            span.required *
                                        .col-md-6.col-sm-6
                                            select#list-employees(name="employee_name", class="form-control", style="width: 250px", required="")
                                            input#document-id(type="text", name="document_id", hidden)
                                            input#list-employee(type="text", value=employees, hidden="")
                                            input#department-now(type="text", value=user.employee_department, hidden="")
                                    .item.form-group
                                            label.col-form-label.col-md-3.col-sm-3.label-align
                                                | Ý kiến chỉ đạo
                                                span.required *
                                            .col-md-6.col-sm-6
                                                textarea.form-control(name='opinionFromLeader', required="", rows="4", style="width: 250px")
                                    .ln_solid
                                        .item.form-group
                                            .col-md-6.col-sm-6.offset-md-3
                                                button.btn.btn-success(type='submit') Lưu           
                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Thoát

                #infoAssignmentDocumentModal.modal.fade(tabindex='-1', aria-labelledby='infoAssignmentDocumentModalLabel', role="dialog")
                    .modal-dialog(role="document")
                        .modal-content
                            .modal-header
                                h5#infoAssignmentDocumentModalLabel.modal-title Thông tin chi tiết văn bản đến
                            .modal-body
                                form#demo-form2-info.form-horizontal.form-label-left
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Mã văn bản đến
                                        .col-md-6.col-sm-6
                                            input#info-assignment-incoming-document-id.form-control(type='text' disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Phòng ban
                                        .col-md-6.col-sm-6
                                            input#info-assignment-department-name.form-control(type='text', disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Nhân viên
                                        .col-md-6.col-sm-6
                                            input#info-assignment-employee-name.form-control(type='text', disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Ý kiến chỉ đạo
                                        .col-md-6.col-sm-6
                                            textarea#info-assignment-opinion.form-control(rows="4", disabled)
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Trạng thái
                                        .col-md-6.col-sm-6
                                            input#info-assignment-status.form-control(type='text', disabled)
                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Thoát

                #deleteAssignmentDocumentModal.modal.fade(tabindex='-1', aria-labelledby='deleteAssignmentDocumentModalLabel')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h5#deleteAssignmentDocumentModalLabel.modal-title Xóa thông tin nhân viên
                            .modal-body
                                | Bạn có chắc chắn muốn xóa thông tin công việc này không?
                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Thoát
                                button#btn-delete-assignment-document.btn.btn-danger(type='button') Xóa

                #infoReportModal.modal.fade(tabindex='-1', aria-labelledby='infoReportModalLabel', role="dialog")
                    .modal-dialog(role="document")
                        .modal-content
                            .modal-header
                                h5#infoReportModalLabel.modal-title Báo cáo tiến độ
                            .modal-body
                                .item.form-group
                                    label.col-form-label.col-md-3.col-sm-3.label-align
                                        | Báo cáo tiến độ
                                    .col-md-6.col-sm-6
                                        textarea#report.form-control(rows="4", style="width: 300px" disabled)
                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Thoát

                #acceptModal.modal.fade(tabindex='-1', aria-labelledby='acceptModalLabel')
                    .modal-dialog
                        .modal-content(style="width: 600px")
                            .modal-header
                                h5#acceptModalLabel.modal-title Duyệt văn bản
                            .modal-body
                                form#demo-form2-process.form-horizontal.form-label-left(data-parsley-validate='', method="POST")
                                    .item.form-group
                                        label.col-form-label.col-md-3.col-sm-3.label-align
                                            | Ý kiến phản hồi
                                            span.required *
                                        .col-md-6.col-sm-6
                                            textarea.form-control(name='commentFromLeader', required="", rows="4", style="width: 300px")
                            .modal-footer
                                button#btn-accept.btn.btn-success(type='button') Duyệt
                                button#btn-no-accept.btn.btn-warning(type='button') Không duyệt
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Thoát

                .right_col(role='main')
                    .page-title
                        .title_left
                           h3 Xử lý văn bản đến
                        .title_right
                            .col-md-5.col-sm-5.form-group.pull-right.top_search
                                form(action="/documents-incoming-assignment", method="GET", class="submit")
                                    .input-group
                                        input#search-assignment-document.form-control(type='text', name="assignment_document", placeholder='Tìm kiếm...', value=query)
                                        span.input-group-btn
                                            button.btn.btn-default(type='submit') Tìm
                    
                    .clearfix 

                    .row
                        .col-md-12.col-sm-12
                            .x_panel
                                .x_title
                                    h2  Danh sách văn bản đến cần xử lý
                                    ul.nav.navbar-right.panel_toolbox
                                        li
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                        li
                                            a.close-link
                                                i.fa.fa-close
                                    .clearfix
                                .x_content
                                    table.table 
                                        colgroup 
                                            col(width="auto")
                                            col(width="auto")
                                            col(width="300")
                                            col(width="auto")
                                        tr 
                                            th STT 
                                            th Mã văn bản đến
                                            th Về việc / trích yếu
                                            th Ngày đến
                                            th Trạng thái
                                        each value, index in incoming_documents
                                            if (value.isAssignment == false && value.isAssignmentFromLeader == true)
                                                tr
                                                    td= index + 1
                                                    td= value.id
                                                    td= value.incoming_document_abstract
                                                    td= value.incoming_document_date
                                                    if value.isComplete == false 
                                                        td Chưa xử lý
                                                    else 
                                                        td Đã xử lý
                                                    td 
                                                        button.btn.btn-info(data-toggle='modal', data-target='#infoIncomingDocumentModal', data-value=value) Chi tiết
                                                    td  
                                                        button.btn.btn-warning(data-toggle='modal', data-target='#assignmentDocumentModal', data-value=value) Phân công

                    .row
                        .col-md-12.col-sm-12
                            .x_panel
                                .x_title
                                    h2  Danh sách văn bản đến đã phân công
                                    ul.nav.navbar-right.panel_toolbox
                                        li
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                        li
                                            a.close-link
                                                i.fa.fa-close
                                    .clearfix
                                .x_content
                                    table.table 
                                        colgroup 
                                            col(width="auto")
                                            col(width="auto")
                                            col(width="auto")
                                            col(width="auto")
                                            col(width="auto")
                                        tr 
                                            th STT 
                                            th Mã văn bản đến
                                            th Nhân viên
                                            th Trạng thái
                                            th Tải xuống
                                        each value, index in assignment
                                            if (value.employee_name !== "" && value.employee_id !== "")
                                                tr
                                                    td= index + 1
                                                    td= value.incoming_document_id
                                                    td= value.employee_name
                                                    if value.isComplete == false 
                                                        td Đang xử xử lý
                                                    else 
                                                        td Đã xử lý
                                                    td 
                                                        a(href="/documents-incoming/" + value.incoming_document_id + "/download")= value.fileName
                                                    td 
                                                        button.btn.btn-info(data-toggle='modal', data-target='#infoAssignmentDocumentModal', data-value=value) Chi tiết
                                                    td 
                                                        button.btn.btn-secondary(data-toggle='modal', data-target='#infoReportModal', data-value=value) Báo cáo tiến độ
                                                    if (value.isCompleteFromEmployee == true && value.isCompleteFromLeader == false)
                                                        td 
                                                            button.btn.btn-success(data-toggle='modal', data-target='#acceptModal', data-value=value.incoming_document_id) Duyệt
                                                    td 
                                                        button.btn.btn-danger(data-toggle='modal', data-target='#deleteAssignmentDocumentModal', data-id=value.incoming_document_id) Xóa
                
                // page content
                
                // footer content
                footer
                    .pull-right
                        | Hệ thống quản lý văn bản
                    .clearfix
        //- // jQuery
        script(src='../vendors/jquery/dist/jquery.min.js')
        // Bootstrap
        script(src='../vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
        // FastClick
        script(src='../vendors/fastclick/lib/fastclick.js')
        // NProgress
        script(src='../vendors/nprogress/nprogress.js')
        // Chart.js
        script(src='../vendors/Chart.js/dist/Chart.min.js')
        // jQuery Sparklines
        script(src='../vendors/jquery-sparkline/dist/jquery.sparkline.min.js')
        // Flot
        script(src='../vendors/Flot/jquery.flot.js')
        script(src='../vendors/Flot/jquery.flot.pie.js')
        script(src='../vendors/Flot/jquery.flot.time.js')
        script(src='../vendors/Flot/jquery.flot.stack.js')
        script(src='../vendors/Flot/jquery.flot.resize.js')
        // Flot plugins
        script(src='../vendors/flot.orderbars/js/jquery.flot.orderBars.js')
        script(src='../vendors/flot-spline/js/jquery.flot.spline.min.js')
        script(src='../vendors/flot.curvedlines/curvedLines.js')
        // DateJS
        script(src='../vendors/DateJS/build/date.js')
        // bootstrap-daterangepicker
        script(src='../vendors/moment/min/moment.min.js')
        script(src='../vendors/bootstrap-daterangepicker/daterangepicker.js')
        // Custom Theme Scripts
        script(src='../build/js/custom.min.js')
        script. 
            document.addEventListener('DOMContentLoaded', function (event) {
                $("#infoIncomingDocumentModal").on('show.bs.modal', function (event) {
                    $('#myInput').focus();
                    var button = $(event.relatedTarget);

                    let value_incoming_document = button.data('value');
                    let inputIncomingDocumentId = document.getElementById('info-incoming-document-id');
                    let inputIncomingDocumentType = document.getElementById('info-incoming-document-type');
                    let inputIncomingDocumentName = document.getElementById('info-incoming-document-name');
                    let inputIncomingDocumentDestination = document.getElementById('info-incoming-document-destination');
                    let inputIncomingDocumentDate = document.getElementById('info-incoming-document-date');
                    let inputIncomingDocumentContent = document.getElementById('info-incoming-document-content');

                    inputIncomingDocumentId.setAttribute("value",value_incoming_document.id);
                    inputIncomingDocumentType.setAttribute("value",value_incoming_document.incoming_document_type);
                    inputIncomingDocumentName.value = value_incoming_document.incoming_document_name;
                    inputIncomingDocumentDestination.setAttribute("value",value_incoming_document.incoming_document_destination);
                    inputIncomingDocumentDate.setAttribute("value",value_incoming_document.incoming_document_date);
                    inputIncomingDocumentContent.value = value_incoming_document.incoming_document_content;

                    let inputOpinion = document.getElementById('info-opinion');
                    let list_assignment = document.getElementById("list-assignment");
                    let list = JSON.parse(list_assignment.getAttribute("value"));
                    list.forEach((value) =>{
                        if(value_incoming_document.id == value.incoming_document_id){
                            inputOpinion.value = value.opinion;
                        }
                    });
                });

                $("#infoReportModal").on('show.bs.modal', function (event) {
                    $('#myInput').focus();
                    var button = $(event.relatedTarget);
                    let value_assignment = button.data('value');

                    let textarea_report =  document.getElementById("report");
                    textarea_report.value = value_assignment.report;
                });

                $("#infoAssignmentDocumentModal").on('show.bs.modal', function (event) {
                    $('#myInput').focus();
                    var button = $(event.relatedTarget);

                    let value_assignment_document = button.data('value');
                    let inputIncomingDocumentId = document.getElementById('info-assignment-incoming-document-id');
                    let inputDepartmentName = document.getElementById('info-assignment-department-name');
                    let inputEmployeeName = document.getElementById('info-assignment-employee-name');
                    let inputOpinion = document.getElementById('info-assignment-opinion');
                    let inputStatus = document.getElementById('info-assignment-status');

                    inputIncomingDocumentId.setAttribute("value",value_assignment_document.incoming_document_id);
                    inputDepartmentName.setAttribute("value",value_assignment_document.department_name);
                    inputEmployeeName.setAttribute("value",value_assignment_document.employee_name);
                    inputOpinion.value = value_assignment_document.opinion;

                    if (value_assignment_document.isComplete == false){
                        inputStatus.setAttribute("value", "Đang xử lý");
                    } else {
                        inputStatus.setAttribute("value", "Đã xử lý");
                    }
                    
                });

                $("#assignmentDocumentModal").on('show.bs.modal', function (event) {
                    $('#myInput').focus();
                    var button = $(event.relatedTarget);

                    let value_incoming_document = button.data('value');
                    let document_id = document.getElementById("document-id");
                    document_id.setAttribute("value",value_incoming_document.id);

                    let department_now = document.getElementById("department-now");
                    let department = department_now.getAttribute("value");
                    let list_employee = document.getElementById("list-employee");
                    let list = JSON.parse(list_employee.getAttribute("value")); 

                    document.getElementById("list-employees").options.length=0;
                    list.forEach((value) =>{
                        if(department == value.department){
                            $("#list-employees").append('<option>' + value.name + '</option>');
                        }
                    });
                });

                
                let id_delete;
                let btnDeleteAssignmentDocument = document.getElementById('btn-delete-assignment-document');
                $("#deleteAssignmentDocumentModal").on('show.bs.modal', function (event) {
                    $('#myInput').focus();
                    var button = $(event.relatedTarget);
                    id_delete = button.data('id');
                });

                btnDeleteAssignmentDocument.onclick = function(){
                    window.location = "/tasks-assignment-incoming-document/" + id_delete + "/delete";
                }

                $("#acceptModal").on('show.bs.modal', function (event) {
                    $('#myInput').focus();
                    var button = $(event.relatedTarget);
                    let id = button.data('value');
                    let form_process = document.getElementById("demo-form2-process");

                    document.getElementById('btn-accept').onclick = () => {
                        let action = "/tasks-assignment-incoming-document/" + id + "/accept";
                        form_process.setAttribute("action", action)
                        document.getElementById('demo-form2-process').submit();
                    };

                    document.getElementById('btn-no-accept').onclick = () => {
                        let action = "/tasks-assignment-incoming-document/" + id + "/no-accept";
                        form_process.setAttribute("action", action)
                        document.getElementById('demo-form2-process').submit();
                    };
                });
            });
